
<%= form_tag users_path, method: 'post', remote: true do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
<% end %>

<div id="user_list">
  <%= render 'user_list' %>
</div>